# Environment variables
.env

__pycache__/
*.pyc
venv/
node_modules/
dist/
.vscode/
.idea/

.DS_Store
Thumbs.db

# project_google_meet_notes
dont_touch/

# Knowledge base data (generated locally)
backend/knowledge_base/data/
